/* body {
  background-image: url('./components/Images/blueCode.gif');
  background-size: cover;
  background-repeat: no-repeat;
  
} */

/* .app{
  background-color: white;
  border-radius: 50%;
} */

