@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@media only screen and (max-width: 767px) {
    body{
      
    }
  }

.about{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    position: relative;
    top: 7rem;
    

    
}

p{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight:900;
    margin-right: 4rem;
    position: relative;
    top: 100px;
    padding-bottom: 4rem;
    background-image:linear-gradient(rgba(189, 189, 253, 0.7),rgba(186, 186, 250, 0.7));
   
    
}


.textImg img{
    float: left;
    position: relative;
    width:450px;
    height:650px;
    border-radius: 50%;

   
}

@media only screen and (max-width: 760px) {
    p{
        font-size: 1.2em;
        font-weight:900;
        margin-right: 2rem;
        
    }
  }

@media only screen and (max-width: 760px) {
    .textImg img{
        width: 280px;
        height:400px;
        padding-left: 1em;
    
    }
}

@media only screen and (max-width: 760px) {
    .about{
        font-size: 50px;
        position: relative;
        top: 2rem;
    
    }
}

@media only screen and (max-width: 760px) {
    
    .textImg img{
        width: 350px;
        height:465px;
        padding-left: 1em;
        text-align: center;
    }

    p{
        position: relative;
        top: 2rem;
    }
    
}