@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.about{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px;
    position: relative;
    top: 7rem;

    
}

p{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight:900;
    margin-right: 4rem;
    position: relative;
    top: 100px;
    padding-bottom: 4rem;
   
    
}


.textImg img{
    float: left;
    position: relative;
    width:480px;
    height:650px;
    border-radius: 50%;

   
}