.hire{
  position:static;
  width: 350px; 
  height: 100px;
  justify-content: center;
  vertical-align: top;
  
}

.hire ul
{
  display: flex;
}

.hire ul li 
{
  
  list-style: none;
  width: 70px;
  height: 70px;
  color: white;

  
}

.hire ul li a
{
  position:relative;
  display:inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  
}

.hire ul li .icon
{
  position: relative;
  line-height: 30px;
  transition: 0.5s;
  font-size: 50px;
  
}



