@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

div.container form {
    text-align: center;
    position: relative;
    top: 100px;
    
    
    
}

input{
    height: 80px;
    width: 800px;
    text-align: center;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

textarea{
    height: 600px;
    width: 800px;
    text-align: center;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}


