@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

div.container form {
    text-align: center;
    position: relative;
    top: 100px;
    
}

input{
    height: 3em;
    width: 20em;
    text-align: center;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

textarea{
    height: 20em;
    width: 20em;
    text-align: center;
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}

@media only screen and (max-width: 760px) {
    input{
        height: 2em;
        width: 10em;
        
    }
  }

  @media only screen and (max-width: 760px) {
    textarea{
        height: 15em;
        width: 10em;
        
    }
  }

  @media only screen and (max-width: 760px) {
    textarea{
        height: 8em;
        width: 10em;
        
        
    }
  }