@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body{
  background-image: url('./Images/blueCode.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.navigation
{
  position:relative;
  width: 350px; 
  height: 100px;
  padding-bottom: 53rem;
  
}

.navigation ul
{
  display: flex;
}

.navigation ul li 
{
  
  list-style: none;
  width: 70px;
  height: 70px;
  color: white;
  
}

.navigation ul li a
{
  position:relative;
  display:inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.navigation ul li .icon
{
  position: relative;
  line-height: 30px;
  transition: 0.5s;
  font-size: 50px;
}