@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
*
{
  
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  
  
  
}

body{
  background-image:linear-gradient(rgba(128, 128, 136, 0.7),rgba(126, 126, 247, 0.7)),url('./Images/blueCode.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  
  
}

@media only screen and (max-width: 767px) {
  body{
  background-image:linear-gradient(rgba(128, 128, 136, 0.7),rgba(126, 126, 247, 0.7)),url('./Images/blueCode.gif');
  }
}

/* .navigation
{
  width: 500px; 
  height: 100px;
  vertical-align: top;
  
  
} */



.navigation ul
{
  
  display: flex;
  font-size: 190%;
  align-items: center;
  padding-right: 1em;
  
}

.navigation ul li 
{
  
  list-style: none;
  width: 500px;
  height: 100px;
  color: black;
  position: relative;
  text-align: center;
  
  
  
}



.navigation ul li a
{
  
  position:relative;
  /* display:inline-block; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-align: center;
  font-size: 60%;
  
  
  
  
  
}

.navigation ul li a:hover
{
  position:relative;
  display:inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(25, 33, 138);
  text-align: center;
  
}


.navigation ul li .icon
{
  position: relative;
  line-height: 30px;
  transition: 0.5s;
  font-size:360%;
  text-align: center;
  
  
  
}



.navigation ul li .icon:hover
{
  
  line-height: 30px;
  transition: 0.5s;
  font-size:170px;
  
}

span{
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  .navigation{
    font-size:40%;
  
  }
}

@media only screen and (max-width: 450px) {
  span{
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .navigation ul li .icon:hover
  {
  font-size:62px;
  
  }
}

@media only screen and (max-width: 450px) {
  .list{ margin-bottom: -90px; }
}

