img {
    width: 400px; /* width of container */
    height: 245px; /* height of container */
    object-fit: cover;
    border: 50px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
  }
  
  /* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */